<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <div>
            <nav>
                <a href="/index">Página Inicial</a> |
                <a href="/contato">Contato</a>
            </nav>
        </div>
    </header>
    <main>
        {% block conteudo%}
        {% endblock %}
    </main>
    <footer>
        <p>Projto desenvolvido pela Profª Alba Lopes&copy;</p>
    </footer>
</body>
</html>